.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
  border-top: 1px solid #eaecf0;
}

.Footer > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

@media screen and (max-width: 750px) {
  .Footer {
    flex-direction: column;
  }

  .Footer > p {
    margin: 40px 0;
  }
}
